	* 
	{ 
		margin: 0;
	}

	html, body 
	{
		height: 100%;
	}
	body 
	{
		background-color: #b1ddf3;
		font-size: 16px; 
		color: #6d6d6d; 
		font-family: Arial, Helvetica, sans-serif; 
	}

	/* Nuevo código mejor e inteligente */
	
	/* General */
	
		.Gradiente
		{
			border: 2px #ffffff outset;
			background: #ffffff;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
			background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
		}
		
		.Blanco
		{ 
			background-color: #ffffff; 
			box-shadow:0px 0 10px #979797; 
		}
	
		.border-round 
		{
			-webkit-border-radius: 10px; /* Para Safari y Chrome */
			-moz-border-radius: 10px; /* Para Firefox */
			-khtml-border-radius:10px; /* Navegadores de Linux */
			border-radius: 10px; /* CSS3 */
		}	
	
	/* Fin General */
	
	/* Panel */
	
		.row:nth-child(odd)
		{
			background-color: #ffffff;
		}
	
		.row:nth-child(even)
		{
			background-color: #e8e8e8;
		}
		
		.row:hover
		{
			background-color: #f3f3cb;
		}

		.active, .desactive
		{
			float: left; 
			width: 20px; 
			height: 20px; 
			padding: 5px 5px 5px 5px; 
			margin:10px 10px 0px 0px; 
			text-align: center;
			color: #006699; 
			-moz-box-shadow: 0px 0px 3px #838383; 
			-webkit-box-shadow: 0px 0px 3px #838383; 
			box-shadow: 0px 0px 3px #838383
		}
		
		.desactive
		{
			background-color: #d2d1d1; 
		}
		
		.active
		{
			background-color: #ebebeb;
		}		
		.active:hover
		{
			-moz-box-shadow: 0px 0px 5px #0a55a2;
			-webkit-box-shadow: 0px 0px 5px #0a55a2;
			box-shadow: 0px 0px 5px #0a55a2;
		}
		
	/* Fin Panel */
	
	
	/* Top */
	
		.Separador
		{
			Float:left;
			background-color:#4a4a4a;
			padding: 12px 7px 12px 7px;
			font-size: 16px;
			color:#ffffff;
			border-left: 1px solid #33373B;
			cursor: pointer;
		}
		
		.Separador:hover
		{
			background-color:#535557;
		}
		
		.Separador:first-child
		{
			border-bottom-left-radius: 5px 5px;
			border-top-left-radius: 5px 5px;
			color: #71c5f5;
		}
		
		.Separador:last-child
		{ 
			border-bottom-right-radius: 5px 5px; 
			border-top-right-radius: 5px 5px;
		}
		
	/* Fin Top */
	
	/* Inicio Bot*/
	
		.container 
		{
			min-height: 100%;
			margin: 0 auto;
		}
		
		.clearfooter 
		{
			display: block;
			height: 80px;
		}
		
		.footer 
		{
			width: 100%;
			clear: both;
			height: 40px;
			text-align:center;
			margin: -60px auto 0 auto;
			position: relative;
			padding-top: 15px;

			border-top: 5px #ffffff solid; 
			-moz-box-shadow: 0px 0px 5px #838383; 
			-webkit-box-shadow: 0px 0px 5px #838383; 
			box-shadow: 0px 0px 5px #838383;
			
			background: #45484d; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
		}
	
	/* Fin bot */
	
	/* Anclas */

		a
		{
			text-decoration: none;
			color: #fff;
		}
		
		a.admin
		{
			color: #00527b
		}
	
	/* Fin Anclas */
		
	/* Fin */
	
	.Boton, .Boton:visited 
	{
		display: inline-block;
		padding: 5px 20px 5px;
		color: #FFF;
		text-decoration: none;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
		border-top-left-radius: 5px 5px;
		border-top-right-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 1px solid rgba(0,0,0,0.25);
		position: relative;
		cursor:pointer;
	}

	.Boton:hover 
	{
		background-color: #111
		color: #FFF;
	}

	.Boton:active
	{
		top: 1px;
	}
	
	.grande.Boton, .super.Botonn:visited 
	{
		font-size: 20px;
	}
	
	.azul.Boton, .azul.Boton:visited
	{ 
		background-color: #18a5cc; 
	}
	
	.azul.Boton:hover
	{
		background-color: #1ab6e1; 
	}

	input, textarea , select, .contenedor 
	{ 		
		padding: 4px; 
		background: #fff; 
		font-size: 14px; 
		color: #555; 
		border: 1px #ddd solid;
		
		/* -- CSS3 Shadow - create a shadow around each input element -- */ 
		-webkit-box-shadow: 0px 0px 4px #aaa;
		-moz-box-shadow: 0px 0px 4px #aaa; 
		box-shadow: 0px 0px 4px #aaa;
		
		/* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */		
		-webkit-transition: background 0.3s linear;							
	}
	
	textarea
	{
		overflow-y: hidden;
		overflow-x: hidden;
		font-size: 13px;
		resize: none;
	}
	
	input:hover, textarea:hover, select:hover, .contenedor:hover 
	{ 
		background: #eee; 
	}
		
	input.submit 
	{ 	
		width: 150px; 
		color: #eee; 
		text-transform: uppercase; 
		margin-top: 10px;
		background-color: #18a5cc;
		border: none;
		
		/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
		-webkit-transition: -webkit-box-shadow 0.3s linear;
		
		/* -- CSS3 - Rounded Corners -- */
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px;
		border-radius: 4px; 
						
		/* -- CSS3 Shadow - create a shadow around each input element -- */ 
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18a5cc), to(#0a85a8)); 
		background: -moz-linear-gradient(25% 75% 90deg,#0a85a8, #18a5cc);		
	} 
	
	input.submit:hover 
	{ 		
		-webkit-box-shadow: 0px 0px 20px #555;
		-moz-box-shadow: 0px 0px 20px #aaa; 
		box-shadow: 0px 0px 20px #555;	
		cursor:  pointer; 
	} 	
	
	/*************************************************/
    /*      CSS PARA TODAS LAS BARRAS DE PROGRESO    */
    /*************************************************/

    .barra_progreso 
	{
        border:solid #2da3de 1px;
        width:500px;
        text-align:center;
    }

    .barra_arriba 
	{
        position:absolute;
        height:inherit;
        width:inherit;
        background-color:navy;
        color:white;
        clip:rect(0px, 300px, auto, 0px);
    }

    .barra_abajo 
	{
        height:inherit;
        background-color:lightblue;
        color:navy;
    }

    /*************************************************/
    /*      CSS PARA LOS ESTILOS DE LA BARRA 1       */
    /*************************************************/

    #barra1 
	{
        width:240px;
        height:auto;
        margin:auto;
    }

    #barra1 .barra_arriba
	{
        background-color:#B1DDF3;
        color:#5f5b5b;
    }

    #barra1 .barra_abajo 
	{
        color:black;
        background-color:#FFFFFF;
    }
	
    /*************************************************/
    /*      CSS PARA LOS ESTILOS DE LA BARRA 2       */
    /*************************************************/

    #barra2 
	{
        width:260px;
        height:auto;
        margin:auto;
    }

    #barra2 .barra_arriba
	{
        background-color:#B1DDF3;
        color:#5f5b5b;
    }

    #barra2 .barra_abajo 
	{
        color:black;
        background-color:#FFFFFF;
    }
	
	/* Upload.css */
	
	#file_queue 
	{
		background-color: #FFF;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.25);
		height: 103px;
		overflow: auto;
		padding: 5px 10px;
		width: 355px;
	}

	.uploadify 
	{
		position: relative;
		margin-bottom: 1em;
	}
	 
	.uploadify-button 
	{
		background-color: #505050;
		background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
		background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
		background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
		background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
		background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
		background-image: -webkit-gradient
		(
			linear,
			left bottom,
			left top,
			color-stop(0, #505050),
			color-stop(1, #707070)
		);
		background-position: center top;
		background-repeat: no-repeat;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		border: 2px solid #808080;
		color: #FFF;
		font: bold 12px Arial, Helvetica, sans-serif;
		text-align: center;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		width: 100%;
	}
	
	.uploadify:hover .uploadify-button 
	{
		background-color: #606060;
		background-image: linear-gradient(top, #606060 0%, #808080 100%);
		background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
		background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
		background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
		background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #606060),
			color-stop(1, #808080)
		);
		background-position: center bottom;
	}
	
	.uploadify-button.disabled 
	{
		background-color: #D0D0D0;
		color: #808080;
	}
	
	.uploadify-queue 
	{
		margin-bottom: 1em;
	}
	
	.uploadify-queue-item 
	{
		font: 11px Verdana, Geneva, sans-serif;
		margin-top: 10px;
		max-width: 355px;
	}
	
	.uploadify-error 
	{
		background-color: #FDE5DD !important;
	}
	
	.uploadify-queue-item .cancel a 
	{
		background: url('/system/style/cancel.png') 0 0 no-repeat;
		float: right;
		height:	16px;
		text-indent: -9999px;
		width: 16px;
	}
	
	.uploadify-queue-item.completed 
	{
		background-color: #E5E5E5;
	}
	
	.uploadify-progress 
	{
		background-color: #ffffff;
		margin-top: 10px;
		width: 100%;
	}
	
	.uploadify-progress-bar 
	{
		height: 100px;
		background-color: #0099FF;
		height: 3px;
		width: 1px;
	}