AddDefaultCharset ISO-8859-15
AddType application/x-httpd-php .htm .html

<ifModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{HTTP_HOST} ^www\.rimtu\.com$ [NC]  
	RewriteRule ^(.*)$ http://rimtu.com/$1 [R=301,QSA,L]

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ^(\w+)$ index.html?type=$1
	
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ^(\w+)/$ index.html?type=$1
	
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ^(\w+)/(\w+)$ index.html?type=$1&id=$2
</ifModule>

<Files .htaccess>
	order allow,deny
	deny from all
</Files>

Options All -Indexes